

.grid-container {
    display: grid;
    grid-template-areas:
     'header'
     'hero'
     'footer';
    grid-gap: 0px;
    background-color: #6c6c6c;
    padding: 5px;
}

.grid-container > div {
    text-align: center;
}

.header {
    grid-area: header;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    border-bottom: solid #000000;
}

.header p {
    padding: 10px;
}

.header p:hover {
    background-color: rgb(72, 126, 226);
    border-bottom: solid;
}

#Nav {
    text-decoration: none;
    display: flex;
    gap: 20px;
    padding: 15px;
}

#logo {
    background-image: url("./images/egg-roll_17914614.png");
    background-size: cover;
    padding: 40px;
}

.footer {
    grid-area: footer;
    background-color: azure;
    padding: 150px;
}

.hero {
    background-color: cornflowerblue;
    grid-area: hero;
    padding: 300px;

}




