body {
    background-color: white;
}

h1 {
    color: #1D2939;
}

.grid-container {
    display: grid;
    grid-template-areas:
     'header'
     'hero'
     'footer';
    grid-gap: 0px;
    padding: 5px;
}

.grid-container > div {
    text-align: center; 
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}



#Nav {
    display: flex;
    gap: 20px;
    padding: 15px;
}

#Nav a {
    text-decoration: none;
    padding: 10px;
    color: #1D2939;
}

#Nav a:hover {
    color: #1D2939;
    background-color: #3B82F6;
    border-bottom: solid;
}

#logo {
    background-image: url("./images/egg-roll_17914614.png");
    background-size: cover;
    padding: 40px;
}

footer {
    grid-area: footer;
    padding: 150px;
    background-color: #F5F7FA;
    color: #1D2939;
}

main a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #3B82F6;
    font-weight: bold;
    box-shadow: 0 2px 2px rgba(0,0,1,1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

main {
    grid-area: hero;
    padding: 300px;
    text-align: center;

}

#projects-container {
    display: grid;
    grid-template-areas: 
    'project1 project2'
    'project3 project4'
    'project5 project6';
    gap: 45px;
    margin: 150px;
}

#Project1 {
    grid-area: project1;
    background-color: green;
}

#Project2 {
    grid-area: project2;
    background-color: rgb(19, 168, 222);
}

#Project3 {
    grid-area: project3;
    background-color: rgb(19, 168, 222);
}

#Project4 {
    grid-area: project4;
    background-color: rgb(19, 168, 222);
}

#Project5 {
    grid-area: project5;
    background-color: rgb(19, 168, 222);
}

#Project6 {
    grid-area: project6;
    background-color: rgb(19, 168, 222);
    
}


