body {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-areas:
     'header'
     'hero'
     'footer';
    grid-gap: 0px;
    background-color: #6c6c6c;
    padding: 5px;
}

.grid-container > div {
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #6E6E6E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    border-bottom: solid #000000;
}



#Nav {
    display: flex;
    gap: 20px;
    padding: 15px;
}

#Nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

#Nav a:hover {
    color: #000000;
    background-color: #BAFF39;
    border-bottom: solid;
}

#logo {
    background-image: url("./images/egg-roll_17914614.png");
    background-size: cover;
    padding: 40px;
}

.footer {
    grid-area: footer;
    background-color: #302f2f;
    padding: 150px;
}

.hero a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #BAFF39;
    font-weight: bold;
    border: solid white 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.hero {
    background-color: #6E6E6E;
    grid-area: hero;
    padding: 300px;

}




