body {
    background-color: white;
}

h1 {
    color: #1D2939;
}

.grid-container {
    display: grid;
    grid-template-areas:
     'header'
     'hero'
     'footer';
    grid-gap: 0px;
    padding: 5px;
}

.grid-container > div {
    text-align: center; 
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    background-color: white;
}

#Nav {
    display: flex;
    gap: 20px;
    padding: 15px;
}

#Nav a {
    text-decoration: none;
    padding: 10px;
    color: #1D2939;
    transition: 0.5s ease;
}

#Nav a:hover {
    color: #1D2939;
    background-color: #3B82F6;
    border-bottom: solid;
}

#logo {
    background-image: url("./images/egg-roll_17914614.png");
    background-size: cover;
    padding: 40px;
}

main a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #3B82F6;
    font-weight: bold;
    box-shadow: 0 2px 2px rgba(0,0,1,1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

main {
    grid-area: hero;
    padding: 300px;
    text-align: center;

}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin: 20px;
}

.project {
    background-color: #38bdf8;
    padding: 25px 0px 150px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}


.footer {
  background-color: #0f1522; 
  color: #e5e7eb;           
  padding: 80px 60px 40px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  align-items: start;
}

.footer h3 {
  font-size: 1.5em;
}

.footer p {
  color: #9ca3af;
  font-size: 1.05em;
}

.footer nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 0.95em;
  transition: color 0.2s ease;
}

.footer a:hover {
  color: #38bdf8;
}

.about {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.footer .copyright {
  margin-top: 30px;
  padding-top: 55px;
  text-align: center;
  font-size: 0.85em;
  color: #9ca3af;
  border-top: 1px solid #1f2933;
}

.contact-container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

label {
  font-weight: bold;
}

input, select, textarea, button {
  width: 350px;
  padding: 10px;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  margin-top: 20px;
  background: #007BFF;
  color: white;
  border: none;
  box-shadow: 0 2px 2px rgba(0,0,1,1);
}

button:hover {
  background: #023f80;
}
